<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SMART SHOP </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link  active" href="/">Trang Chu</a>
                </li>
                {%for c in cates%}
                <li class="nav-item">
                    <a class="nav-link" href="?cate_id={{c.id}}">{{c.name}}</a>
                </li>
                {%endfor%}
                {%if current_user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link  active" href="/Dangnhap">
                        <img src="{{current_user.avatar}}" alt="" width="25">
                        Hello {{current_user.name}}

                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="/logout">&#128509;Dang Xuat</a>
                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link  active" href="/Dangnhap">&#128509;Dang Nhap</a>
                </li>

                {% endif%}


            </ul>
            <form class="d-flex" method="get">
                <input class="form-control me-2" type="text" placeholder="Tìm kiếm sản phẩm..." name="q">
                <button class="btn btn-primary" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>