{% extends 'admin/master.html' %}

{% block body %}
<h3 class="text-info text-center mt-5"> HELLO WEOCOME TO PAGE ADMIN </h3>

<form method="post">
    <div class="form-group mb-3 mt-3">
        <input type="text" class="form-control" id="Username" placeholder="Username" name="username">

    </div>

    <div class="form-group mt-3 mb-3">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
